@model User
@{
    Layout = null;
}

<html>
<head>
    <title>Document Creator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="page-header text-center">
        <h1>User Information</h1>
    </div>
    <h4 class="text-center">Name: @Model.Name</h4><br>
    <h4 class="text-center">Surname: @Model.Surname</h4>
    <h4 class="text-center">Computer: @Model.Computer</h4>
    <h4 class="text-center">Position: @Model.Position</h4>
    <h4 class="text-center">City: @Model.City</h4>
    <h4 class="text-center">Service Tag: @Model.ServiceTag</h4>
</body>
</html>

